# Git
.git
.gitignore

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# dbt - Very important for size!
dbt/telecoms_project/target/
dbt/telecoms_project/dbt_packages/
dbt/telecoms_project/logs/

# snowflake
snowflake/ddl_setup_scripts/


# Infrastructure & Secrets
terraform-infra/
.terraform/
.env
.env.*
*.pem
*.key
src/credentials/*

# OS/IDEs
.vscode/
.idea/
.DS_Store

# ignore progress notes & logs
PROGRESS_NOTES.md
*.json
logs/
*.log

