apache-airflow-providers-snowflake
apache-airflow-providers-amazon
apache-airflow-providers-slack
snowflake-connector-python
dbt-snowflake==1.11.0rc2
boto3==1.41.2
gspread==6.2.1
pandas==2.3.3
pendulum==3.1.0
protobuf==6.33.2
SQLAlchemy==2.0.45
python-dotenv==1.2.1
