apache-airflow-providers-amazon
apache-airflow-providers-snowflake

snowflake-connector-python
snowflake-sqlalchemy

dbt-core==1.7.9
dbt-snowflake==1.7.3

pyarrow
python-dotenv
pendulum

boto3==1.41.2
gspread==6.2.1
pandas==2.3.3
protobuf==6.33.1
SQLAlchemy==2.0.44
