name: Data Pipeline CI/CD

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ main ]

jobs:
  # JOB 1: Quality Checks (CI)
  quality_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Linting Tools
        run: pip install flake8 sqlfluff

      - name: Python Linting (DAGs & Ingestion)
        run: |
          # Check DAGs and Source folder for syntax errors
          flake8 dags/ src/ --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: SQL Linting (dbt Models)
        run: |
          sqlfluff lint dbt/telecoms_project/models/ --dialect snowflake --ignore parsing,templating --exclude-rules RF04,AL09,RF02,LT05,LT01,LT06

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Format & Validate
        run: |
          terraform -chdir=terraform-infra init -backend=false
          terraform -chdir=terraform-infra fmt -check
          terraform -chdir=terraform-infra validate

  # JOB 2: Build and Push (CD) - Only runs on Main branch after CI passes
  build_and_push:
    needs: quality_checks
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Airflow Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This creates both the versioned image and the latest pointer
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/coretelecoms-platform:1.0.0
            ${{ secrets.DOCKERHUB_USERNAME }}/coretelecoms-platform:latest